- if @resp
  :plain
    var url = '#{@url}';
    $('.addnewfounder').attr('href',url);
    $('.addnewfounder').attr('new',#{@resp});
    $('.addnewfounder').before('<div class="founder foundernew"><input id="add_founders_'+ #{@resp} +'" name="add[founders]['+ #{@resp} +']" placeholder="+ Add a Founder" type="text"><div class="removeme"><a href="#" class="btn btn-danger remove-founder"><i class="icon-remove-sign"></i> Remove</a></div></div>');
- else
  :plain
    alert('An Error Occurred');
