- content_for(:css) do
  = stylesheet_link_tag "admin", :media => "all"
.tabbable
  .biznav
    %ul.nav.nav-tabs.bmenu
      %li.active
        %a{:href => "#1", "data-toggle" => "tab"} All
      %li
        %a{:href => "#2", "data-toggle" => "tab"} Approved
      %li
        %a{:href => "#3", "data-toggle" => "tab"} Unapproved
    %ul.navactions
      %li
        %a.btn.btn-primary.btn-mini{:href => new_admin_business_path } Add A New Business
    .clear
  - panes = ["businesses","approved","unapproved"]
  .tab-content
    - 3.times do |i|
      %div{:id => i+1, :class => i+1 == 1 ? "tab-pane active": "tab-pane"}
        %div
          %table.table.table-bordered.table-striped
            = render "tablehead"
            %tbody
              - puts panes[i]
              = render panes[i]
