- @published.each do |b|
  %tr
    %td
      = b.id
    %td
      = b.title
    %td
      = truncate(b.body, :length => 100)
    %td.tableactions
      %a.btn{:href => admin_publish_article_path(b)}= b.published ? "Unpublish" : "Publish"
      %a.btn{:href => edit_admin_article_path(b)} Edit
      %a.btn.btn-danger{:href => admin_article_path(b), "data-method" => :delete, "data-confirm" => "Are you sure?"} Delete
