@import "compass/css3"
.boxed
  background: white
  +border-radius(7px)
  +box-shadow(gray 1px 1px 0px)
  margin-bottom: 10px
  width: 88%

.sidebar
  input,select
    width: 95%

.sbox
  padding: 20px

.container-fluid
  .content
    position: relative

.span2 > .thumbnail
  border: none
  +border-radius(7px)
  +box-shadow(gray 1px 1px 0px)
  &:hover
    +box-shadow(#999 0px 0px 12px)
    +transition-duration(0.2s)

.thumbnail
  position: relative
  height: 310px
  background: white
  h5, p, .btn
    margin: 4px 0 0 8px
  .btn
    width: 50px
    min-width: 50px
  a
    position: absolute
    bottom: 13px
  .logo
    width: 150px
    height: 150px
    margin: auto
    img
      vertical-align: middle

.thumbnails
  .span2
    min-width: 170px
    margin-left: 10px

.clear
  clear:both

