:css
  .blogblock{
    border-radius: 5px;
    background: #EEE;
    padding: 15px;
    margin-bottom: 25px;
  }
  .bloghead{
    background: #BFBFBF;
  }
  b{
    font-weight: bold;
  }
  .bphead{
    border-bottom: 1px solid #DDD;
    padding-bottom: 6px;
    margin-bottom: 6px;
  }
.span1
  &nbsp;
.span7
  .blogblock.bloghead
    %h1 The Blog
    %br
    .menu
      %ul.nav.nav-pills{:style => "margin-bottom: 0px;"}
        %li.active
          %a{:href => "/blog"} All Posts
        %li
          %a{:href => "/blog/c/actatlys"} Actatlys
        %li
          %a{:href => "/blog/c/startups"} Startups
        %li
          %a{:href => "/blog/c/business"} Business
  .blogblock
    - if @articles.count > 0
      - @articles.each do |a|
        .blogpost{:id => "article-#{a.id}"}
          .bphead
            %h2
              %a{:href => article_path(a.name)}= a.title
            %span{:style => "font-style:italic;"}=raw a.updated_at.strftime("Article posted on <b>%m/%d/%Y %I:%M%p</b> by <b>#{User.find_by_id(a.author).name}</b>")
          .body=raw truncate(a.body, :length => 250, :omission => "<i style='font-style:italic'> ... <a href=#{article_path(a.name)}>read more</a></i>")
    - else
      There are no articles matching your criteria!
.span3
  .rightside
    %h1 Twitter
    %script{:charset => "utf-8", :src => "http://widgets.twimg.com/j/2/widget.js"}
    :javascript
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 8,
        interval: 30000,
        width: 'auto',
        height: 300,
        theme: {
          shell: {
            background: '#bfbfbf',
            color: '#4f4f4f'
          },
          tweets: {
            background: '#6b6b6b',
            color: '#fff8eb',
            links: '#fcba56'
          }
        },
        features: {
          scrollbar: false,
          loop: false,
          live: true,
          behavior: 'all'
        }
      }).render().setUser('actatlys').start();

.span1
  &nbsp;
