:css
  .blogbody{
    padding:15px;
  }
.span1
  &nbsp;
.span7
  .bloghead.well
    %h1 The Blog
    .menu
      %ul.nav.nav-pills{:style => "margin-bottom: 0px;"}
        %li.active
          %a{:href => "/blog"} All Posts
        %li
          %a{:href => "/blog/c/actatlys"} Actatlys
        %li
          %a{:href => "/blog/c/startups"} Startups
        %li
          %a{:href => "/blog/c/business"} Business
  .blogbody
    - if @categories.count > 0
      - @categories.each do |c|
        .category{:id => "article-#{c.id}"}
          %h2= c.name
          .desc= c.description
    - else
      There are no categories
.span3
  .rightside
    Twitter & Facebook Here
    %h1 Twitter
    %script{:charset => "utf-8", :src => "http://widgets.twimg.com/j/2/widget.js"}
    :javascript
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 8,
        interval: 30000,
        width: 'auto',
        height: 300,
        theme: {
          shell: {
            background: '#bfbfbf',
            color: '#4f4f4f'
          },
          tweets: {
            background: '#6b6b6b',
            color: '#fff8eb',
            links: '#fcba56'
          }
        },
        features: {
          scrollbar: false,
          loop: false,
          live: true,
          behavior: 'all'
        }
      }).render().setUser('actatlys').start();
.span1
  &nbsp;
