@import compass
.admin-edit
  label
    text-transform: uppercase
    font-weight: bold
    font-size: 11px
  input, textarea, select
    width: 90%
  textarea
    height: 168px
    resize: none
  .fieldnew
    position: relative
    .btn
      height: 12px
      font-size: 11px
      line-height: 10px
    .removeme
      position: absolute
      right: 9%
      top: 3px
      display: inline
      input
        display: none
  .logo
    width: 150px
    height: 150px
    margin-bottom: 15px
    img
      +border-radius(5px)
      +box-shadow(#999 1px 1px 1px)

.taggable
  .taginput
    width: 60%
  .tagadd
    width: 20%
    margin-bottom: 8px
  .tag
    float: left
    padding: 4px 24px 4px 6px
    background: #08C
    +border-radius(5px)
    height: 18px
    margin: 0 5px 5px 0
    color: white
    font-weight: bold
    position: relative
    .removetag
      position: absolute
      right: 5px
      top: 5px

.remove-btn
  text-transform: uppercase
  font-weight: bold

.formrow
  margin-bottom: 15px
  padding-bottom: 15px
  border-bottom: 1px solid #CCC
  h2
    margin-bottom: 10px

.splitform-3quart
  width: 75%
  float: left
.splitform-quart
  width: 25%
  float: left
.splitform-third
  width: 33%
  float: left
.splitform-thirdend
  width: 34%
  float: left
.splitform-2third
  width: 67%
  float: left
.splitform-half
  width: 50%
  float: left
.splitform-full
  width: 100%
  float: left
.end
  text-align: right
  width: 100%
  +clearfix

.inline
  display: inline
