%thead
  %tr
    %th{:width => "20px"} ID
    %th{:width => "18%"} Email
    %th{:width => "18%"} Name
    %th{:width => "10%"} Linkedin ID
    %th{:width => "15%"} Time Last Logged In
    %th{:width => "12%"} IP Address
    %th{:width => "25%"} Actions

