%thead
  %tr
    %th{:width => "20px"} ID
    %th{:width => "20%"} Email
    %th{:width => "20%"} Name
    %th{:width => "10%"} Linkedin ID
    %th{:width => "20%"} Time Last Logged In
    %th{:width => "10%"} IP Address
    %th{:width => "230px"} Actions

